# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy  as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [7]:
s1 = pd.Series(np.random.randint(1, high = 5, size = 100))
s2 = pd.Series(np.random.randint(1, high = 4, size = 100))
s3 = pd.Series(np.random.randint(10000, high = 30001, size = 100))
print(s1, s2, s3)

0     4
1     3
2     4
3     3
4     1
     ..
95    1
96    3
97    3
98    2
99    4
Length: 100, dtype: int32 0     3
1     2
2     3
3     3
4     1
     ..
95    2
96    3
97    3
98    3
99    3
Length: 100, dtype: int32 0     19751
1     24661
2     10934
3     22646
4     22443
      ...
95    29369
96    15146
97    29758
98    27603
99    17050
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
data = [s1,s2,s3]
df = pd.concat(data, axis = 1)
df.head()

   0  1      2
0  4  3  19751
1  3  2  24661
2  4  3  10934
3  3  3  22646
4  1  1  22443

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [13]:
names = {0 :'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}
df.rename(columns = names, inplace = True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      4       3            19751
1      3       2            24661
2      4       3            10934
3      3       3            22646
4      1       1            22443

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [15]:
bigcolumn = pd.concat([s1,s2,s3])

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [16]:
bigcolumn

0         4
1         3
2         4
3         3
4         1
      ...
95    29369
96    15146
97    29758
98    27603
99    17050
Length: 300, dtype: int32

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [18]:
bigcolumn.reset_index(drop= True, inplace = True)

In [19]:
bigcolumn

0          4
1          3
2          4
3          3
4          1
       ...
295    29369
296    15146
297    29758
298    27603
299    17050
Length: 300, dtype: int32